[Unit]
Description=Prometheus alerting system

[Service]
ExecStart=/usr/sbin/alertmanager --config.file /etc/alertmanager/alertmanager.yml
Restart=always
RestartSec=30
Type=simple

[Install]
WantedBy=multi-user.target
